html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Fonts */

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Nunito";
	src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Nunito";
	src: url("../fonts/Recoleta\ SemiBold.otf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/Recoleta-RegularDEMO.woff2") format("woff2"),
		url("../fonts/Recoleta-RegularDEMO.woff") format("woff"),
		url("../fonts/Recoleta-RegularDEMO.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans", Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	background-color: #f6f5f1;
	color: #395852;
	letter-spacing: -0.4px;
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Main link */
.main-link {
	display: flex;
	text-decoration: none;
	padding: 12px 16px;
	background-color: #163a34;
	color: #fff;
	border-radius: 10px;
	font-family: Nunito, sans-serif;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -0.5px;
	font-weight: bold;
}

.main-link:hover {
	background-color: #395852;
}

.main-link:active {
	opacity: 0.9;
}

.hero-content .main-link {
	padding: 16px 32px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1232px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}

/* Site header */

.site-header {
	padding: 20px 0;
	border-bottom: 1px solid #e0e6e3;
}

.site-header-container {
	display: flex;
	justify-content: space-between;
	width: 1320px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	display: flex;
}

.site-header-logo:hover {
	opacity: 0.8;
}

.site-header-logo:active {
	opacity: 0.6;
}

.logo-img {
	width: 260px;
	height: 40px;
}

.sitenav-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sitenav-item:not(:last-child) {
	margin-right: 40px;
}

.sitenav-link {
	text-decoration: none;
	font-weight: 600;
	font-family: Nunito, sans-serif;
	font-size: 18px;
	color: #163a34;
	border-bottom: 3px solid transparent;
}

.sitenav-link:hover {
	border-color: #fe9f6b;
}

.site-header-actions {}

/* Hero */

.hero {
	text-align: center;
	padding: 74px 0 90px 0;
	background-image: url("../images/pattern-squiggle-1.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.hero-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}

.hero-title {
	font-size: 72px;
	line-height: 1.1;
	letter-spacing: -2px;
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: 800;
	font-family: Nunito, sans-serif;
	color: #163a34;
}

.highlight {
	position: relative;
	display: inline-block;
}

.highlight::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 103%;
	height: 0.6em;
	background-color: #ffd9bf;
	border-radius: 4px;
	z-index: -1;
}

.hero-text {
	margin-top: 0;
	margin-bottom: 40px;
}

.hero-image {
	border: 6px solid white;
	border-radius: 12px;
}

.hero-img {
	display: block;
	width: 1192px;
	height: 530px;
	border-radius: 12px;
	object-fit: cover;
}

/* Benefits */

.benefits {
	padding-bottom: 96px;
}

.benefits-title {
	text-align: center;
	font-size: 48px;
	line-height: 1.2;
	letter-spacing: -2px;
	font-weight: 800;
	font-family: Nunito, sans-serif;
	color: #163a34;
	margin-top: 0;
	margin-bottom: 48px;
}

.benefits-list {
	display: flex;
	gap: 32px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.benefits-item {
	width: 376px;
}

.benefits-card {}

.benefits-card-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 12px;
	width: 60px;
	height: 60px;
	margin-bottom: 24px;
}

.benefits-card-title {
	font-family: Nunito, sans-serif;
	font-size: 32px;
	line-height: 1.3;
	letter-spacing: -1px;
	margin-top: 0;
	margin-bottom: 12px;
}

.benefits-card-text {
	margin: 0;
}

/* Advice */

.advice {
	padding: 96px 0;
	border-top: 1px solid #e0e6e3;
	display: flex;
	align-items: center;
	gap: 48px;
}

.advice-content {}

.advice-title {
	font-weight: 800;
	font-size: 48px;
	letter-spacing: -3px;
	line-height: normal;
	color: #163a34;
	margin-top: 0;
	margin-bottom: 20px;
}

.advice-text {
	margin-top: 0;
	width: 509px;
}

.advice-content .highlight {
	position: relative;
	display: inline-block;
}

.advice-content .highlight::before {
	content: "";
	position: absolute;
	bottom: 0.3em;
	left: -0.1em;
	width: 105%;
	height: 0.58em;
	background-color: #fe9f6b;
	border-radius: 4px;
	z-index: -1;
}

.advice-image {
	width: 635px;
	height: 450px;
	border-radius: 16px;
	overflow: hidden;
}

.advice-image img {
	display: block;
}

/* CTA */

.cta {
	padding: 96px 0;
	background-color: #e9ede8;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../images/pattern-fork.svg"),
		url("../images/pattern-knife.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: left -75px bottom -20px, right -75px center;
}

.cta-heading {
	font-family: Nunito, sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 12px;
}

.cta-text {
	margin-top: 0;
	margin-bottom: 40px;
}

/* Footer */

.site-footer {
	padding: 41px 0;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.3px;
}

.footer-socials-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.footer-socials-item:not(:last-child) {
	margin-right: 24px;
}

.footer-socials-link {
	text-decoration: none;
	display: flex;
}

.footer-socials-link:hover {
	opacity: 0.6;
}

.footer-socials-link:active {
	opacity: 0.8;
}

/* ABOUT PAGE*/
/* ABOUT PAGE*/
/* ABOUT PAGE*/

.about-hero {
	padding: 80px 0 97px 0;
	border-bottom: 1px solid #e0e6e3;
}

.about-hero-container {
	display: flex;
	gap: 64px;
}

.about-hero-content {
	padding: 75px 0;
}

.about-hero-highlight {
	display: inline-block;
	padding: 2px 6px;
	color: #163a34;
	background-color: #fe9f6b;
	border-radius: 6px;
	font-family: Nunito, sans-serif;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: -0.5px;
	margin-bottom: 26px;
}

.about-hero-title {
	font-family: Nunito, sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: -2px;
	margin-top: 0;
	margin-bottom: 24px;
}

.about-hero-text p {
	margin: 0;
}

.about-hero-text p:not(:last-child) {
	margin-bottom: 16px;
}

.about-hero-image {
	flex: 0 0 618px;
	height: 600px;
}

.about-hero-img {
	display: block;
	object-fit: cover;
	border-radius: 12px;
}

/* Why we exist */

.why-we-exist {
	border-bottom: 1px solid #e0e6e3;
}

.why-we-exist__container {
	padding: 96px 0;
	background-color: #fff;
	display: flex;
	gap: 64px;
}

.why-we-exist__title {
	font-family: Nunito, sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: -2px;
	color: #163a34;
	flex: 0 0 372px;
	margin: 0;
}

.why-we-exist__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.why-we-exist__item {
	display: flex;
	gap: 20px;
}

.why-we-exist__item::before {
	display: inline-block;
	width: 32px;
	height: 32px;
	content: "";
	background-image: url("../images/icon-bullet-point.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	flex: 0 0 32px;
}

.why-we-exist__item-content {}

.why-we-exist__item-title {
	margin-top: 0;
	margin-bottom: 12px;
	font-family: Nunito, sans-serif;
	line-height: 1.3;
	font-size: 24px;
	letter-spacing: -1px;
	color: #163a34;
}

.why-we-exist__item-text {
	margin: 0;
}

/* Our food philopsophy */

.our-food-philosophy {
	border-bottom: 1px solid #e0e6e3;
}

.our-food-philosophy__container {
	padding: 96px 0;
	display: flex;
	gap: 64px;
}

.our-food-philosophy__title {
	font-family: Nunito, sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: -2px;
	color: #163a34;
	flex: 0 0 372px;
	margin: 0;
}

.our-food-philosophy__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.our-food-philosophy__item {
	display: flex;
	gap: 20px;
}

.our-food-philosophy__item::before {
	display: inline-block;
	width: 32px;
	height: 32px;
	content: "";
	background-image: url("../images/icon-bullet-point.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	flex: 0 0 32px;
}

.our-food-philosophy__item-content {}

.our-food-philosophy__item-title {
	margin-top: 0;
	margin-bottom: 12px;
	font-family: Nunito, sans-serif;
	line-height: 1.3;
	font-size: 24px;
	letter-spacing: -1px;
	color: #163a34;
}

.our-food-philosophy__item-text {
	margin: 0;
}

/* Beyond the plate */

.beyond-the-plate {
	padding: 96px 0;
}

.beyond-the-plate__container {
	display: flex;
	gap: 64px;
	align-items: center;
}

.beyond-the-plate__content {}

.beyond-the-plate__title {
	font-family: Nunito, sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: -2px;
	margin-top: 0;
	margin-bottom: 20px;
}

.beyond-the-plate__text p {
	margin-top: 0;
	margin-bottom: 12px;
}

.beyond-the-plate__list {
	margin: 0;
	padding: 0;
	padding-left: 20px;
}

.beyond-the-plate__item {}

.beyond-the-plate__image {
	flex: 0 0 744px;
	height: 400px;
}

.beyond-the-plate__img {
	display: block;
	object-fit: cover;
	border-radius: 12px;
}

/* RECIPES */
/* RECIPES */
/* RECIPES */

/* Recipes Intro */

.recipes-intro {
	padding: 80px 230px 64px 230px;
	text-align: center;
}

.recipes-intro-heading {
	font-family: Nunito, sans-serif;
	font-size: 48px;
	line-height: 1.2;
	letter-spacing: -2px;
	font-weight: 800;
	margin-top: 0;
	margin-bottom: 12px;
	color: #163a34;
}


/* Food Recipes */

.food-recipes {}

.food-recipes__list {}

.recipes-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.recipes-item {
	width: 376px;
	/* height: 554px; */
	background-color: #fff;
	border-radius: 10px;
}



.card {
	padding: 8px;
}

.card-image {
	width: 360px;
	height: 300px;
	margin-bottom: 16px;
	overflow: hidden;
	border-radius: 10px;
}

.card-img {
	display: block;
	border-radius: 10px;
	width: 360px;
	height: 300px;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.card-img:hover {
	transform: scale(1.05);
}

.card-content {
	display: flex;
	flex-direction: column;
}

.card-title {
	font-family: Nunito, sans-serif;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -0.5px;
	color: #163a34;
	margin-top: 0;
	margin-bottom: 10px;
}

.card-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.3px;
	margin-top: 0;
	margin-bottom: 16px;
}

.card-meal-infos {
	display: flex;
	flex-wrap: wrap;
	row-gap: 8px;
	column-gap: 16px;
	margin-bottom: 16px;
}

.meal-infos div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.meal-infos img {
	width: 20px;
	height: 20px;
	display: block;
	margin-right: 6px;
}

.meal-infos span {
	color: #163a34;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.3px;
}


.recipe-button {
	display: inline-block;
	border: none;
	border-radius: 999px;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -0.3px;
	padding: 12px;
	text-align: center;
	cursor: pointer;
}