html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Fonts */

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Nunito";
	src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Nunito";
	src: url("../fonts/Recoleta\ SemiBold.otf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/Recoleta-RegularDEMO.woff2") format("woff2"),
		url("../fonts/Recoleta-RegularDEMO.woff") format("woff"),
		url("../fonts/Recoleta-RegularDEMO.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans", Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	background-color: #f6f5f1;
	color: #395852;
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1232px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}
