html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Fonts */

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Nunito";
	src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Nunito";
	src: url("../fonts/Recoleta\ SemiBold.otf") format("truetype");
	font-weight: 100 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/Recoleta-RegularDEMO.woff2") format("woff2"),
		url("../fonts/Recoleta-RegularDEMO.woff") format("woff"),
		url("../fonts/Recoleta-RegularDEMO.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans", Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	background-color: #f6f5f1;
	color: #395852;
	letter-spacing: -0.4px;
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Main link */
.main-link {
	display: flex;
	text-decoration: none;
	padding: 12px 16px;
	background-color: #163a34;
	color: #fff;
	border-radius: 10px;
	font-family: Nunito, sans-serif;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -0.5px;
	font-weight: bold;
}

.main-link:hover {
	background-color: #395852;
}
.main-link:active {
	opacity: 0.9;
}

.hero-content .main-link {
	padding: 16px 32px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1232px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}

/* Site header */

.site-header {
	padding: 20px 0;
	border-bottom: 1px solid #e0e6e3;
}

.site-header-container {
	display: flex;
	justify-content: space-between;
	width: 1320px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	display: flex;
}

.site-header-logo:hover {
	opacity: 0.8;
}

.site-header-logo:active {
	opacity: 0.6;
}

.logo-img {
	width: 260px;
	height: 40px;
}

.sitenav-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sitenav-item:not(:last-child) {
	margin-right: 40px;
}

.sitenav-link {
	text-decoration: none;
	font-weight: 600;
	font-family: Nunito, sans-serif;
	font-size: 18px;
	color: #163a34;
	border-bottom: 3px solid transparent;
}

.sitenav-link:hover {
	border-color: #fe9f6b;
}

.site-header-actions {
}

/* Hero */

.hero {
	text-align: center;
	padding: 74px 0 90px 0;
	background-image: url("../images/pattern-squiggle-1.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.hero-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}

.hero-title {
	font-size: 72px;
	line-height: 1.1;
	letter-spacing: -2px;
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: 800;
	font-family: Nunito, sans-serif;
	color: #163a34;
}

.highlight {
	position: relative;
	display: inline-block;
}

.highlight::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 103%;
	height: 0.6em;
	background-color: #ffd9bf;
	border-radius: 4px;
	z-index: -1;
}

.hero-text {
	margin-top: 0;
	margin-bottom: 40px;
}

.hero-image {
	border: 6px solid white;
	border-radius: 12px;
}
.hero-img {
	display: block;
	width: 1192px;
	height: 530px;
	border-radius: 12px;
	object-fit: cover;
}

/* Benefits */

.benefits {
	padding-bottom: 96px;
}
.benefits-title {
	text-align: center;
	font-size: 48px;
	line-height: 1.2;
	letter-spacing: -2px;
	font-weight: 800;
	font-family: Nunito, sans-serif;
	color: #163a34;
	margin-top: 0;
	margin-bottom: 48px;
}
.benefits-list {
	display: flex;
	gap: 32px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.benefits-item {
	width: 376px;
}
.benefits-card {
}
.benefits-card-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 12px;
	width: 60px;
	height: 60px;
	margin-bottom: 24px;
}
.benefits-card-title {
	font-family: Nunito, sans-serif;
	font-size: 32px;
	line-height: 1.3;
	letter-spacing: -1px;
	margin-top: 0;
	margin-bottom: 12px;
}
.benefits-card-text {
	margin: 0;
}

/* Advice */

.advice {
	padding: 96px 0;
	border-top: 1px solid #e0e6e3;
	display: flex;
	align-items: center;
	gap: 48px;
}
.advice-content {
}
.advice-title {
	font-weight: 800;
	font-size: 48px;
	letter-spacing: -3px;
	line-height: normal;
	color: #163a34;
	margin-top: 0;
	margin-bottom: 20px;
}
.advice-text {
	margin-top: 0;
	width: 509px;
}

.advice-content .highlight {
	position: relative;
	display: inline-block;
}

.advice-content .highlight::before {
	content: "";
	position: absolute;
	bottom: 0.3em;
	left: -0.1em;
	width: 105%;
	height: 0.58em;
	background-color: #fe9f6b;
	border-radius: 4px;
	z-index: -1;
}
.advice-image {
	width: 635px;
	height: 450px;
	border-radius: 16px;
	overflow: hidden;
}

.advice-image img {
	display: block;
}
